html {
	font-family: 'Roboto', sans-serif;
}
p {
	font-size: 16px;
	padding: 5px;
	line-height: 20px;
	display: block;
}
h1 {
	color: #4aaaa5;
	font-size: 25px;
	padding: 10px;
}
h3 {
	color: #4aaaa5;
	font-size: 20px;
	padding: 10px;
}
a {
	text-decoration: none;
	color: #cccccc;
}
a:hover {
	color: #4aaaa5;
}
hr {
	border: solid;
	color: #cccccc
}
body {
	background-image: url("./../images/escheresque_ste_@2X.png");
	background-color: #cccccc;
	color: #777777;
	font-family: 'Roboto', sans-serif;
}
header {
	background-color: #ffffff;
	border-bottom-style: solid;
	border-width: 2px;
	border-bottom-color: #cccccc;
	width: 100%;
	position:fixed;
	top: 0;
	left: 0;
}
.wrapper1 {
	width: 960px;
	margin: auto;
}
.menu {
	float: right;
	padding: 15px;
	color: #cccccc;
}
main {
	width: 960px;
	margin: auto;
}
.image1 {
	float: left;
	width: 150px;
	height: 150px;
	padding: 10px;
	padding-right: 20px;
}
.connect {
	width: 50px;
	height: 50px;
}
.content {
	width: 606px;
	background-color: white;
	padding: 20px;
	float: left;
	margin-top: 60px; 
	margin-bottom: 60px;
	border-style: solid;
	border-width: 2px;
	border-color: #dddddd;
}
.sidebar {
	background-color: white;
	width: 226px;
	padding: 20px;
	float: right;
	align-content: center;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 2px;
	border-color: #dddddd;
}
footer {
	padding: 10px;
	text-align: center;
	color: white;
	background-color: grey;
	width: 100%;
	position:fixed;
	bottom: 0;
	left: 0;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
	overflow: auto;
}
input {
	width: 100%;
}
textarea {
	width: 100%;
}
.button {
	background-color: #4aaaa5;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}
.cover {
	position: relative;
	width: 250px;
	height: 50px;
	background: #4aaaa5;
	right: 0px;
	top: 210px;
}
.row {
	margin: -20px -16px;
	padding-right: 20px;
	padding-left: 20px;
}
.column {
	padding-right: 25px;
	padding-left: 25px;
	float: left;
	width: 40%;
}
.imgtext {
	text-align: center;
	padding: 16px;
	color: #ffffff;
}
@media screen and (max-width: 640px) {	
	header {
		background-color: #ffffff;
		border-bottom-style: solid;
		border-width: 2px;
		border-bottom-color: #cccccc;
		width: 100%;
		z-index: 1000;
		position:absolute;
		top: 0;
		left: 0;
	}
	main {
		width: 100%;
	}
	.wrapper1 {
		width: 100%;
		margin: auto;
	}
	.menu {
		float: right;
		padding: 15px;
		color: #cccccc;
	}
	.content {
		width: 99%;
		background-color: white;
		margin-top: 70px; 
		margin-bottom: 5px;
		border-style: solid;
		border-width: 2px;
		border-color: #dddddd;
		padding: 0px;
	}
	.sidebar {
		background-color: white;
		width: 100%;
		align-content: center;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 60px;
		border-style: solid;
		border-width: 2px;
		border-color: #dddddd;
	}
	footer {
		padding: 5px;
		text-align: center;
		color: white;
		background-color: grey;
		width: 100%;
		position:fixed;
		bottom: 0;
		left: 0;
	}
	input {
		width: 99%;
	}
	textarea {
		width: 99%;
	}
	.button {
		background-color: #4aaaa5;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		font-family: 'Roboto', sans-serif;
	}
}
@media screen and (max-width: 768px) {	

}
@media screen and (max-width: 980px) {	

}